<h1>Kevin Vognar</h1>
<h3>Developer, maker, thought-collector</h3>

<div class="projects">
  <div class="project row">
    <div class="col-md-4 project-preview">
      <img src="assets/faux-genius-screenshot.png">
    </div>
    <div class="col-md-6 project-description">
      <h3>Faux Genius</h3>
      <div class="links">
        <%= link_to "Live demo", "http://www.fauxgenius.com" %>
        <span class="divider"> | </span>
        <%= link_to "Github", "https://github.com/kvognar/faux-genius" %>
      </div>
    </div>
  </div>
  
  <div class="project row">
    <div class="col-md-4 project-preview">
      <img src="assets/mello-trello-screenshot.png">
    </div>
    <div class="col-md-6 project-description">
      <h3>Mello Trello</h3>
      <%= link_to "Live demo", "http://mello-trello.herokuapp.com" %>
      <span class="divider"> | </span>
      <%= link_to "Github", "https://github.com/kvognar/trello_clone" %>
    </div>
  </div>
  
  <div class="project row">
    <div class="col-md-4 project-preview">
      <img src="assets/rails-lite-screenshot.png">
    </div>
    <div class="col-md-6 project-description">
      <h3>Rails + ActiveRecord Lite</h3>
      <%= link_to "Github", "https://github.com/kvognar/rails-plus-activerecord-lite" %>
    </div>
  </div>
  
  
  <div class="project row">
    <div class="col-md-4 project-preview">
      <img src="assets/platformer-screenshot.png">
    </div>
    <div class="col-md-6 project-description">
      <h3>Platformer</h3>
      <%= link_to "Live demo", platformer_url %>
      <span class="divider"> | </span>
      <%= link_to "Github", 'https://github.com/kvognar/platformer' %>
    </div>
  </div>
</div>
  